body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 min-height: 400px;
 margin-bottom: 100px;
 clear: both;

}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}








.text_container {
  text-align: center;
}


 

body {
    font-family: 'Roboto', sans-serif;
}

.text-container p {
    font-size: 1.5rem;
    color: #333;
    
}
.logo-container{
  display: flex;
    align-items: center;
    margin: 1rem; 
    transform: scale(0.8);
}
.logo-container img{
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 min-height: 400px;
 margin-bottom: 100px;
 clear: both;

}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}








.text_container {
  text-align: center;
}


 

body {
    font-family: 'Roboto', sans-serif;
}

.text-container p {
    font-size: 1.5rem;
    color: #333;
    
}
.logo-container{
  display: flex;
    align-items: center;
    margin: 1rem; 
    transform: scale(0.8);
}
.logo-container img{
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

